*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    color:white;
}
.navbar{
    height:55px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.nav-logo{
    height:50px;
    width:100px;
}

.logo{

    background-image: url(amazon_logo.png);
    background-size: cover;
    height:50px; 
    width:100%; 

}

.border{
    border:1px solid transparent;
}
.border:hover{
    border:1.5px solid white;
    padding:7px;
}
.border1{
    border:1px solid transparent;
}
.border1:hover{
    border:1.5px solid white;
}
.add-first{
    font-size:0.85rem;
    margin-left:18px;
}
.add-second{
    font-size:1rem;
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-search{
    display:flex;
    height:40px;
    background-color:#febd68;
    border-radius: 4px;
}
.nav-search:hover{
    border:3px solid orange;
}
.search-input{
    width:850px;
    font-size: medium;
    border:none;
    color:black;
}
.select{
    background-color: #f3f3f3;
    color:black;
    width:50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-icon{
    width:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    color:#0f1111;
}
.first-sign{
    font-size:0.75rem;
}
.second-sign{
    font-size: 1rem;
    font-weight: 700;
}

.cart{
    font-size:1rem;
    font-weight: 600;
}
.nav-cart i{
    font-size:28px;
}

.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    background-color:#222f32 ;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-opt p{
    display:inline;
    margin-left:20px;
}
.panel-opt{
    font-size:0.8rem;
    width:83%;
}
.panel-all{
    width:60px;
    margin-left:25px;
}
.panel-deals{
    font-size:0.86rem;
    font-weight: 700;
}
.hero-section{
    height:400px;
    background-image: url(hero_image.jpg);
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    height:30px;
    background-color: white;
    color:black;
    width:95%;
    /* text-align: center; */
    font-size: medium;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:30px;

}
.hero-msg a{
    color:rgb(44, 18, 156);
}
.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e2;
    flex-wrap: wrap;
}
.box{
    /* border:2px solid black; */
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}

.box-content h2 {
    color:black
}
.box-content{
    text-align:center;
}

.box-img{
    height:300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:20px;
    margin-right:20px;
}

.foot-panel1{
    height:50px;
    background-color: #37475a;
    color:white;
    font-size:0.85rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    background-color: #222f3d;
    height:400px;
    display:flex;
    justify-content: space-evenly;
}
ul{
    margin-top:40px;
}
ul a{
    display:block;
    text-decoration: none;
    color:#dddddd;
    font-size:0.85rem;
    margin-top:10px;
}